fastapi==0.109.0
google_api_python_client==2.65.0
google_auth_oauthlib==0.4.2
loguru==0.5.3
pandas==1.5.3
PyMySQL==1.0.2
python_dateutil==2.8.2
pytz==2021.1
requests==2.28.1
todoist_api_python==2.0.1
uvicorn==0.15.0
python-multipart==0.0.6
SpeechRecognition==3.8.1
quarter_lib==0.0.22
SQLAlchemy==2.0.17
python-telegram-bot==20.0
